body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#template .pep {
  display: none;
}
.pep {
  position: absolute;
  width: 80px;
  height:80px;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-20%,-50%);
  transform: translate(-20%,-50%);
}
.mbody {
  fill: lightgreen;
}
.pep .name {
  opacity: 0;
  min-width: 80px;
  background: #666;
  position: absolute;
  color: white;
  padding: 5px;
  top: -45px;
  left: -0px;
  text-align: center;
  -ms-transform: skewX(10deg); /* IE 9 */
  -webkit-transform: skewX(10deg); /* Safari */
  transform: skewX(10deg); /* Standard syntax */
}
.pep .name:after {
  content: "";
  width: 0px;
  float: left;
  display: inline-block;
  border-top: 10px #666 solid;
  border-left: 10px transparent solid;
  border-right: 3px transparent solid;
  position: relative;
  top: 37px;
  margin-top:-15px; 
}
.pep:active .mbody {
  fill: green;
}
.pep:active .name {
  opacity: 1;
}

.new-form {
  background: #5dabd4;
  padding: 1%;
}

.new-form input {    
    width: calc(100% - 50px);
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.new-form button {
    cursor: pointer;
    width: 30px;
    padding: 0;
    height: 30px;
    border-radius: 100%;
    border: none;
    background: white;
    text-align: center;
}

.slide {
  animation: slide 4s infinite;
  transform-origin:bottom;  
}
.wobble {
  animation: wobble 4s infinite;
  transform-origin:bottom center;
  animation-timing-function: linear;
}
.shape {
  animation: breathe 1s infinite;
  transform-origin:bottom;
}

@keyframes slide{
  0%,100%{
    animation-timing-function: linear
  }
  25%{
    transform: translateX(4%);
  }
  75%{
    transform: translateX(-4%);
  }  
}

@keyframes wobble{
  0%,100%{
    transform:
      rotate(0deg)
  }
  25%{
    transform:
      rotate(5deg)
  }
  75%{
    transform:
      rotate(-5deg)
  }  
}

@keyframes breathe{
  0%, 100%{
    transform:
      scaleY(1);
  }
  50%{
    transform:
      scaleY(.96)
      scaleX(1.04)
  }
}

.extra {fill:#16a085;}
.minny {fill:#2ecc71;}
.spike {fill:#2980b9;}
.lou {fill:#9b59b6;}
.other {fill:#34495e;}
.thingy {fill:#e67e22;}
.magic {fill:#f39c12;}
.crystal {fill:#d35400;}
.arou {fill:#4DD0E1;}
.zen {fill:#7986CB;}